<div class='container'>
  	<h1>Welcome!</h1>

  	<div class='col-md-5'>
		<h2>Register</h2>


	  	<div class='panel panel-default'>
	  		<div class="panel-body">

	    		<form action='/create' method='post'>
			      	<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token  %>" type='hidden'>
			      	<div class="form-group">
			        	<label for="name">Name:</label>
			        	<input type="text" class="form-control" id="f_name" name='f_name'>
			      	</div>

			      	<div class="form-group">
			        	<label for="alias">Alias:</label>
			       		<input type="text" class="form-control" id="l_name" name="l_name">
			      	</div>

			      	<div class="form-group">
			        	<label for="email">Email:</label>
			        	<input type="email" class="form-control" id="email" name='email'>
			     	</div>

			      	<div class="form-group">
			        	<label for="pwd">Password:</label>
			        	<input type="password" class="form-control" id="pwd" name='password'>
			      	</div>

			      	<div class="form-group">
			        	<label for="password_confirmation">Password Confirmation:</label>
			        	<input type="password" class="form-control" id="password_confirmation" name='password_confirmation'>
			      	</div>

			      	<button type="submit" class="btn btn-default">Register</button>
			    </form>

			</div>
		</div>
	</div>

	<div class='col-md-5'>
		<h2>Login</h2>

		<div class='panel panel-default'>
	  		<div class="panel-body">

	    		<form action='/create' method='post'>
			      	<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token  %>" type='hidden'>

			      	<div class="form-group">
			        	<label for="email">Email:</label>
			        	<input type="email" class="form-control" id="email" name='email'>
			     	</div>

			     	<div class="form-group">
			        	<label for="pwd">Password:</label>
			        	<input type="password" class="form-control" id="pwd" name='password'>
			      	</div>

			      	<button type="submit" class="btn btn-default">Login</button>
			    </form>

			</div>
		</div>
	</div>




</div>















	

