<div class='container'>

	<div class='row'>
		<a href='#' class='btn btn-default'>Bright Idea</a> | <a href='/users/<%= user['id'] %>/edit' class='btn btn-default'>Logout</a>

	</div>

	<h1> Edit Your Profile </h1>

	<p>Name: name</p>
	<p>Alias: name</p>
	<p>Email: email</p>
	

	

</div>

